@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.nav-link{
    color: black;
}

*{
    font-family: 'Times New Roman', Times, serif, 'Poppins';
}
.animasi {
    animation: animasi 5s ease-in-out infinite;
}
    /* @keyframes animasi {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-45px);}
    60% {transform: translateY(-25x);}
    
}    */
@keyframes animasi{
    0%{
        transform: translate(0%, 0%) rotate(360deg);}
    25%{
        transform: translate (5%, 15%) rotate(360deg);}
    50%{
        transform: translate(10%, 5%) rotate(360deg);}
    75%{
        transform: translate(0%, 15%) rotate(360deg);}
    100%{
        transform: translate(0%, 0%) rotate(360deg);}
}
.ilus{
    width: auto;
}



/* Desktop Mode */
@media (min-width: 992px) {
.nav-link:hover{
    opacity: 70%;
}
.ilus{
    position: relative;
    border-radius: 10px;
    background-color: bisque;
}

.hargaBuku{
    font-size: 20px;
}
.same{
    background-color: #f3e7dd;
    border-radius: 10px;
    height: 300px;
    padding-top: 25px;
    padding-left: 50px;
    font-family: Poppins;
    font-weight: bold;
}
.popular{
    font-size: 50px;
    color: #46408B;
}
.build{
    padding-top: 50px;
}
.ganti{
    color:  #46408B;
    font-family: 'poppins';
}
.bocil1{
    position: relative;
}
.bocil{
    padding-bottom: 300px;
}
.explore{
    background-color: #c2a793;
    color: white;
}
.explore:hover{
    background-color: #46408B;
}
.login{
    border: 1px solid black;
    border-radius: 20px;
}

.beli{
    background-color: #46408B;
}
.hargaBuku{
    font-style: none;
    text-decoration: none;
    color: black;
}
.buku{
    margin: auto;
    padding-left: 80px;}
.profile{
    margin-top: 5px;
    position: relative;
    float: right;
}
}